<div class="headerContainer">

    <div class="welcomeContainer" #welcomeContainer id="welcomeContainer">

        <div class="welcomeText">

            <!-- Neon FX -->
            <!--<div class="text-effect">
                <h1 class="neon" data-text="Hello," contenteditable>hello,</h1>
                <div class="gradient"></div>
                <div class="spotlight"></div>
            </div>-->
            <div class="welcomefont hl1 color5white headerHello">Hi!</div>
            <!--welcome text lines-->
            <div class="d-flex flex-row hl1 headerRow">
                <div class="welcomefont color5white">I'm </div>
                <div class="welcomefont color1red hl1spaceleft"> Johannes</div>
                <div class="welcomefont color5white hl1spaceleft"> Nissen, </div>
            </div>
            <div class="d-flex hl1 headerRow">
                <div class="welcomefont color5white"> software </div>
                <div class="welcomefont color2green">&nbsp; developer</div>
                <!--<div class="welcomefont color5white">r </div>-->
            </div>

            <!--contact button-->
            <div class="btnPrimaryDefault hl2" onclick="scrollView('contactContainer', 'headerScroller')">Contact me</div>
        </div>

        <!--image Jo-->
        <div class="welcomeImage">
            <img src="./assets/img/Jo.jpg" alt="">
        </div>

    </div>

    <!--Arrow scroll down-->
    <!--<div onclick="scrollView('skillsScrollTarget', 'headerScroller')" class="scrolldownContainer scrollDownHeader"><img src="./assets/icons/arrow-204-256.png" alt="" id="headerScroller"></div>-->
    <a href="#skillsContainer"><div class="scrolldownContainer scrollDownHeader"><img src="./assets/icons/arrow-204-256.png" alt="" id="headerScroller"></div></a>
</div>