<div class="headerContainer">

    <div class="welcomeContainer" #welcomeContainer id="welcomeContainer">

        <div class="welcomeText">

            <!-- Neon FX -->
            <div class="text-effect">
                <h1 class="neon" data-text="Hello," contenteditable>hello,</h1>
                <div class="gradient"></div>
                <div class="spotlight"></div>
            </div>

            <!--welcome text lines-->
            <div class="d-flex flex-row hl1">
                <div class="welcomefont color5white">I'm </div>
                <div class="welcomefont color1red hl1spaceleft"> Johannes</div>
                <div class="welcomefont color5white hl1spaceleft"> Nissen </div>
            </div>
            <div class="d-flex hl1">
                <div class="welcomefont color5white"> Front End develop</div>
                <div class="welcomefont color2green">e</div>
                <div class="welcomefont color5white">r </div>
            </div>

            <!--contact button-->
            <div class="btnPrimaryDefault hl2">Contact me</div>
        </div>

        <!--image Jo-->
        <div class="welcomeImage">
            <img src="./assets/img/JoHeader-3.jpg" alt="">
        </div>

    </div>

    <!--Arrow scroll down-->
    <div onclick="scrollToSkills()" class="scrolldownContainer"><img src="./assets/icons/arrow-204-256.png" alt=""></div>
</div>