<!--navbar desktop-->

<div class="navbarContainer">

    <ul>
        <!--<div class="flexGrow1"></div>-->
        <!--<li>
            <a href="" onclick="simpleScroll('aboutMeContainer')">about
                <span></span><span></span><span></span><span></span>
            </a>
        </li>

        <li>
            <a href="" onclick="simpleScroll('ProjectsContainer')">portfolio
                <span></span><span></span><span></span><span></span>
            </a>
        </li>

        <li>
            <a href="" onclick="simpleScroll('contactContainer')">contact
                <span></span><span></span><span></span><span></span>
            </a>
        </li>-->

        <li>
            <div class="linkSection" onclick="simpleScroll('aboutMeContainer')">about
                <span></span><span></span><span></span><span></span>
            </div>
        </li>

        <li>
            <div class="linkSection" onclick="simpleScroll('ProjectsContainer')">portfolio
                <span></span><span></span><span></span><span></span>
            </div>
        </li>

        <li>
            <div class="linkSection" onclick="simpleScroll('contactContainer')">contact
                <span></span><span></span><span></span><span></span>
            </div>
        </li>

    </ul>
  
</div>

<!--nav sidebar mobile-->

<div class="navbarBurgerIcon" (click)="showMenuMobile()"> <img src="./assets/icons/menu100.png" alt=""></div>

<!--<div id="navbarSide" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <a href="#" onclick="simpleScroll('aboutMeContainer')">About</a>
    <a href="#">Projects</a>
    <a href="#">Contact</a>
  </div>-->

  

  <div id="navbarSide" class="sidenav">
    <div class="closebtn sideNavLinks" (click)="closeNav()">&times;</div>
    <div class="sideNavLinks" (click)="simpleScroll('aboutMeContainer')">About</div>
    <div class="sideNavLinks" (click)="simpleScroll('ProjectsContainer')">Projects</div>
    <div class="sideNavLinks" (click)="simpleScroll('contactContainer')">Contact</div>
    
  </div>