<div class="navbarContainer">

    <ul>
        <!--<div class="flexGrow1"></div>-->
        <!--<li>
            <a href="" onclick="simpleScroll('aboutMeContainer')">about
                <span></span><span></span><span></span><span></span>
            </a>
        </li>

        <li>
            <a href="" onclick="simpleScroll('ProjectsContainer')">portfolio
                <span></span><span></span><span></span><span></span>
            </a>
        </li>

        <li>
            <a href="" onclick="simpleScroll('contactContainer')">contact
                <span></span><span></span><span></span><span></span>
            </a>
        </li>-->

        <li>
            <div class="linkSection" onclick="simpleScroll('aboutMeContainer')">about
                <span></span><span></span><span></span><span></span>
            </div>
        </li>

        <li>
            <div class="linkSection" onclick="simpleScroll('ProjectsContainer')">portfolio
                <span></span><span></span><span></span><span></span>
            </div>
        </li>

        <li>
            <div class="linkSection" onclick="simpleScroll('contactContainer')">contact
                <span></span><span></span><span></span><span></span>
            </div>
        </li>

    </ul>
</div>