<div class="ProjectsContainer bgcolor4black" id="ProjectsContainer">

    <!--headline-->
    <div class="hl1 color5white z5 ProjectsHeadline slide-StartPositionRight" [class.slide-AnimationFromRight]="isInViewport" [class.remove.slide-AnimationFromRight]="!isInViewport">My Work:</div>

    <div class="anchor" id="projectsAnim"></div> <!--anchor for headline animation-->
    <div class="anchorProjects2" id="projectsAnim2"></div>

    <div class="projectsListContainer">


        <div class="singleProjectContainer slide-StartPositionLeft" id="project0"> 
            <img src="./assets/img/p_polloloco.png" alt="">
            <div class="singleProjectDetailsContainer hide ">
                <div class="singleProjectHeadline hl3"><b>El Pollo Loco</b></div>
                <div class="singleProjectDescription ">2D Jump'n Run game. <br> This one is
                    oldschool. <br> Enjoy!
                </div>
                <div class="singleProjectButtonRow">
                    <div class="btnStartApp" (click)="startApp('')">Start App</div>
                    <div class="btnStartApp" (click)="openDoc('')">JSdoc</div>
                </div>
            </div>

        </div>
   
        <div class="singleProjectContainer slide-StartPositionLeft" id="project1">
            <img src="./assets/img/p_kings.png" alt="">
            <div class="singleProjectDetailsContainer hide">
                <div class="singleProjectHeadline hl3"><b>King's Cup</b></div>
                <div class="singleProjectDescription ">Online multiplayer cardgame. <br> Utilises Firebase API. <br>
                    Have fun with friends.
                </div>
                <div class="singleProjectButtonRow">
                    <div class="btnStartApp" (click)="startApp('https://kings-72466.web.app/')">Start App</div>
                    <div class="btnStartApp" (click)="openDoc('')">JSdoc</div>
                </div>
            </div>
        </div>

        <div class="singleProjectContainer slide-StartPositionLeft" id="project2">
            <img src="./assets/img/pexels-samer-daboul-1237008.jpg" alt="">
            <div class="singleProjectDetailsContainer hide">
                <div class="singleProjectHeadline hl3"><b>SUPER BUSINESS APP</b></div>
                <div class="singleProjectDescription ">To do. Bla blabla. <br> More blablabla.
                </div>
                <div class="singleProjectButtonRow">
                    <div class="btnStartApp">Start App</div>
                    <div class="btnStartApp">JSdoc</div>
                </div>
            </div>
        </div>

        <div class="singleProjectContainer slide-StartPositionLeft" id="project3">
            <img src="./assets/img/p_Join.png" alt="">
            <div class="singleProjectDetailsContainer hide">
                <div class="singleProjectHeadline hl3"><b>Join (Task Organizer)</b></div>
                <div class="singleProjectDescription ">Kanban board for business applications.<br>
                    Keep your tasks sorted.
                </div>
                <div class="singleProjectButtonRow">
                    <div class="btnStartApp">Start App</div>
                    <div class="btnStartApp">JSdoc</div>
                </div>
            </div>
        </div>

        <div class="singleProjectContainer slide-StartPositionLeft" id="project4">
            <img src="./assets/img/p_kochwelt.png" alt="">
            <div class="singleProjectDetailsContainer hide">
                <div class="singleProjectHeadline hl3"><b>Kochwelt</b></div>
                <div class="singleProjectDescription ">Cooking website. <br> Check out some recipes. You
                    might end up hungry.
                </div>
                <div class="singleProjectButtonRow">
                    <div class="btnStartApp">Start App</div>
                    <div class="btnStartApp">JSdoc</div>
                </div>
            </div>
        </div>

    </div>

    <!--Arrow scroll down-->
    <div onclick="scrollView('aboutMeContainer', 'projectsScroller')" class="scrolldownContainer z5"><img
            src="./assets/icons/arrow-204-256.png" alt="" id="projectsScroller">
    </div>

</div>