.ProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    height: 110vh !important;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
}

.ProjectsContainer:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 80%;
    top: 150px;
    left: -50%;
    background-color: black;
    /*background: url(background.png) 0 0 repeat;*/
    transform: rotate(-6deg);
}

.ProjectsHeadline {
    margin-top: 170px;
}

.projectsListContainer {
    z-index: 6;
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.singleProjectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    opacity: 0.8;
    transition: opacity ease-in-out 225ms;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:hover {
        opacity: 1;
    }
}

.singleProjectDetailsContainer {
    position: absolute;
}

.singleProjectDescription {
}
