.ProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    //width: 100% !important;
    //height: 100% !important;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
}

.ProjectsContainer:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 80%;
    top: 150px;
    left: -50%;
    background-color: black;
    /*background: url(background.png) 0 0 repeat;*/
    transform: rotate(-6deg);
}

.ProjectsHeadline {
    margin-top: 170px;
}

.projectsListContainer {
    z-index: 6;
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hide {
    opacity: 0 !important;
    transition: opacity ease-in-out 225ms;

    &:hover {
        opacity: 1 !important;
    }
}

.singleProjectContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px;
    opacity: 1;
    transition: opacity ease-in-out 230ms;

    img {
        width: 320px;
        height: 320px;
        padding: 8px;
        object-fit: cover;
        border-radius: 16px;
    }

    &:hover,
    .hide {
        opacity: 1;
    }
}

.singleProjectDetailsContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.singleProjectHeadline {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 24px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.singleProjectDescription {
    width: 95%;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    margin-top: 100px;

    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.singleProjectButtonRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
    //flex: 1;
    align-items: center;
}

.btnStartApp {
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #2dfcd8;
    color: #2dfcd8;
    background-color: black;
    border-radius: 12px;
    margin-top: 5px;
    height: 30px;
    width: 100px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 225ms;

    &:hover {
        color: white !important;
        background-color: #2dfcd8 !important;
    }
}

.scrollProjects {
    margin-bottom: 10px !important;
}

.projectsSpacerBottom {
    margin-bottom: 200px;
}

/*animation shimmer*/

.wrapper {
    width: 360px !important;
    animation: fullView 0.5s forwards linear;
}

@keyframes fullView {
    100% {
        width: 100%;
    }
}

.animate {
    animation: shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 200px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: 200px 0;
    }
}

/**MEDIA QUERIES*******************/

@media only screen and (max-width: 1180px) {
    .projectsListContainer {
        width: 900px;
    }
}

@media only screen and (max-width: 910px) {
    .projectsListContainer {
        width: 500px;
    }
}

@media only screen and (max-width: 510px) {
    .projectsListContainer {
        width: 80vw;
    }

    .singleProjectContainer {
        margin: 5px;
        opacity: 1;
        transition: opacity ease-in-out 230ms;
        overflow: hidden;

        img {
            width: 240px;
            height: 240px;
            padding: 7px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .singleProjectDescription {
        margin-top: 35px;
        font-size: 16px;
    }

    .singleProjectHeadline{
        margin-top: 0;
    }

    .btnStartApp {
        font-size: 14px;
        border-radius: 8px;
        margin-top: 5px;
        height: 25px;
        width: 75px;
        padding: 10px;
    }
}

@media only screen and (max-width: 310px) {
    .projectsListContainer {
        width: 230px;
    }

    .singleProjectContainer {
        margin: 5px;
        opacity: 1;
        transition: opacity ease-in-out 230ms;
        overflow: hidden;

        img {
            width: 220px;
            height: 220px;
            padding: 5px;
            object-fit: cover;
            border-radius: 8px;
        }
    }

    .singleProjectDescription {
        margin-top: 20px;
    }
}
