.ProjectsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    height: 110vh !important;
    position: relative;
    background-color: #1a1a1a;
    overflow: hidden;
}

.ProjectsContainer:before {
    content: "";
    position: absolute;
    width: 200%;
    height: 80%;
    top: 150px;
    left: -50%;
    background-color: black;
    /*background: url(background.png) 0 0 repeat;*/
    transform: rotate(-6deg);
}

.ProjectsHeadline {
    margin-top: 170px;
}

.listContainer {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
