<div class="ProjectsContainer bgcolor4black" id="ProjectsContainer">

    <!--headline-->
    <div class="hl1 color5white z5 ProjectsHeadline">My Work:</div>

    <div class="projectsListContainer">

        <div class="singleProjectContainer">
            <img src="./assets/img/p_polloloco.png" alt="">
            <div class="singleProjectDetailsContainer ">
                <div class="singleProjectHeadline hl3"><b>El Pollo Loco</b></div>
                <div class="singleProjectDescription ">2D Jump'n Run game. <br> This one is
                    oldschool. <br> Enjoy!
                </div>
            </div>
            <div class="btnStartApp">Start App</div>
        </div>

        <div class="singleProjectContainer">
            <img src="./assets/img/p_kings.png" alt="">
            <div class="singleProjectDetailsContainer ">
                <div class="singleProjectHeadline hl3"><b>King's Cup</b></div>
                <div class="singleProjectDescription ">Online multiplayer cardgame. <br> Utilises Firebase API. <br>
                    Have fun with friends.
                </div>
            </div>
            <div class="btnStartApp">Start App</div>
        </div>

        <div class="singleProjectContainer">
            <img src="./assets/img/pexels-samer-daboul-1237008.jpg" alt="">
            <div class="singleProjectDetailsContainer ">
                <div class="singleProjectHeadline hl3"><b>SUPER BUSINESS APP</b></div>
                <div class="singleProjectDescription ">To do. Bla blabla. <br> More blablabla.
                </div>
            </div>
            <div class="btnStartApp">Start App</div>
        </div>

        <div class="singleProjectContainer">
            <img src="./assets/img/p_Join.png" alt="">
            <div class="singleProjectDetailsContainer ">
                <div class="singleProjectHeadline hl3"><b>Join (Task Organizer)</b></div>
                <div class="singleProjectDescription ">Kanban board for business applications.<br>
                    Keep your tasks sorted.
                </div>
            </div>
            <div class="btnStartApp">Start App</div>
        </div>

        <div class="singleProjectContainer">
            <img src="./assets/img/p_kochwelt.png" alt="">
            <div class="singleProjectDetailsContainer ">
                <div class="singleProjectHeadline hl3"><b>Kochwelt</b></div>
                <div class="singleProjectDescription ">Cooking website. <br> Warning: You
                    might end up hungry.
                </div>
            </div>
            <div class="btnStartApp">Start App</div>
        </div>


    </div>

    <!--Arrow scroll down-->
    <div onclick="scrollView('contactContainer', 'projectsScroller')" class="scrolldownContainer z5"><img
            src="./assets/icons/arrow-204-256.png" alt="" id="projectsScroller">
    </div>

</div>