<div class="skillsContainer bgcolor3grey" id="skillsContainer">

    <!--headline-->
    <div class="hl1 color5white slide-StartPositionRight" [class.slide-AnimationFromRight]="isInViewport" [class.remove.slide-AnimationFromRight]="!isInViewport">My Skills:</div>
    <div class="anchor" id="skillsAnim"></div>
    <div class="listContainer" id='listContainer' >
        <div class="anchorSkills2" id="skillsAnim2"></div>
        <div class="skillSingleContainer slide-StartPositionLeft" id="skill0">
            <img src="./assets/logos/JavaScript-Logo.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    JavaScript
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill1">
            <img src="./assets/logos/css.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    CSS / SCSS
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill2">
            <img src="./assets/logos/angular.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    Angular
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill3">
            <img src="./assets/logos/restAPI.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    Rest API
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill4">
            <img src="./assets/logos/scrum.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    SCRUM
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill5">
            <img src="./assets/logos/databases.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    Databases
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill6">
            <img src="./assets/logos/Siemens_NX_Logo.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    NX
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill7">
            <img src="./assets/logos/Fusion-360-logo.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    Fusion360
                </div>

            </div>
        </div>

        <div class="skillSingleContainer slide-StartPositionLeft" id="skill8">
            <img src="./assets/logos/blender.png" alt="">
            <div class="skillSingle">
                <div class="hl3">
                    Blender
                </div>

            </div>
        </div>

    </div>

    <!--Arrow scroll down-->
    <div onclick="scrollView('ProjectsContainer', 'skillsScroller')" class="scrolldownContainer"><img
            src="./assets/icons/arrow-204-256.png" alt="" id="skillsScroller"></div>

</div>