/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: black;
}

.anchor {
    display: block;
}

/*general*/

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.z5 {
    z-index: 5;
}

.z10 {
    z-index: 10;
}

.zMinus100 {
    z-index: -100;
}

.flex-row {
    flex-direction: row;
}

.textCenter{
    text-align: center;
}

/*main text colors*/

.color1red {
    color: #fa2759;
}

.color2green {
    color: #2dfcd8;
}

.color3grey {
    color: #1a1a1a;
}

.color4black {
    color: #000000;
}

.color5white {
    color: white;
}

/*main background colors*/

.bgcolor1red {
    background-color: #fa2759;
}

.bgcolor2green {
    background-color: #2dfcd8;
}

.bgcolor3grey {
    background-color: #1a1a1a;
}

.bgcolor4black {
    background-color: #000000;
}

/*main text headlines style*/

.hl1 {
    //display: block;
    //font-size: 2em;
    font-size: 64px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.hl2 {
    // display: block;
    //font-size: 1.5em;
    font-size: 36px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.hl3 {
    // display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.p {
    display: block;
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.hl1spaceleft {
    margin-left: 12px;
}


/*scrollbutton disappear FX*/
.disappearFX{
    
}


/*button styles*/

.scrolldownContainer {
    display: flex;
    justify-content: center;
    img {
        padding: 10px;
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: center;
        border: 3px solid white;
        border-radius: 50%;
        margin-top: 50px;
        cursor: pointer;
        transition: transform ease-in-out 225ms;
        
        &:hover {
            transform: scale(1.2);
            
        }
    }
}

.btnPrimaryDefault {
    cursor: pointer;
    border: 2px solid #2dfcd8;
    color: #2dfcd8; 
    background-color: black;
    height: 70px;
    width: 250px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease-in-out 225ms;
    //transition: color ease-in-out 225ms;
    &:hover {
        
        color: white !important;
        background-color: #2dfcd8 !important;
    }
    
}

